In [40]:
#Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
from sklearn import preprocessing
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import explained_variance_score
from sklearn.metrics import r2_score

In [3]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data"
labels = ["sex","length","diameter","height","whole weight","shucked weight",
          "viscera weight","shell weight","rings"]
attribute_type = {'sex':'category','length':'float','diameter':'float',
                 'height':'float','whole weight':'float','shucker weight':'float',
                 'viscera weight':'float','shell weight':'float','rings':'int'}
df = pd.read_csv(url, names = labels, dtype=attribute_type)

In [14]:
#Copying df to avoid manipulating original data
df2 = df.copy()

df2['sex'].replace({'M', 'F','I'},{-1, 0, 1}, inplace=True)

In [15]:
df.head()

,sex,length,diameter,height,whole weight,shucked weight,viscera weight,shell weight,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [16]:
df2.head()

,sex,length,diameter,height,whole weight,shucked weight,viscera weight,shell weight,rings
0,-1,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,-1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,0,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,-1,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,1,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [17]:
#Preprocessing
X = df2.iloc[:, :-1].values
y = df2.iloc[:, 7].values

#Split testing and training data in 70 to 30
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [33]:
#Random Forest Approach
regr = RandomForestRegressor(max_depth=5, random_state=0)
regr.fit(X_train, y_train)
y_pred = regr.predict(X_test)

In [49]:
#Results
explained_variance_score(y_test, y_pred)
r = r2_score(y_test, y_pred)

In [53]:
print("The model is : " + str(r*100) + "% accurate from testing")

The model is : 99.96870092023187% accurate from testing